# Basic packages
numpy
pandas
scipy
tensorflow
pillow
spacy 
inflect

# Data visualization
matplotlib


# Jupyter Notebook support
jupyter
notebook
jupyterlab

# Other utilities
requests
opencv-python

